/*Headeri*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  height: 78px;
}

.logo {
  font-size: 30px;
  
  color: rgb(52, 51, 51);
}


.nav a {
  position: relative;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: none;
  color: #555;
  padding-bottom: 4px;
}

.nav a:hover {
  color: #0F5F5C;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #f05b5b;
  transition: width 0.2s ease;
}

.nav a.active {
  color:  #0F5F5C;
}

.nav a:hover::after,
.nav a.active::after {
  width: 100%;
}



/*ni row i librav*/
/* ===== Titles ===== */

.section-title {
  font-size: 30px;
  color: #008060;
  margin-bottom: 3px;
}

.title-link {
  text-decoration: none;
  color: #008060;
  font-weight: 700;
}

.title-link:hover {
  text-decoration: underline;
}

.section-subtitle {
  font-size: 17px;
  color: #444;
  margin-bottom: 15px;
}


/*body i about us*/
* { box-sizing: border-box; }

body{
  margin:0;
  font-family: "Georgia", serif;
  background:#ffffff;
  color:#2b2b2b;
}

.about-container{
  width: min(1000px, 92%);
  margin: auto;
}

/* HERO */
.about-hero{
  padding: 80px 0 60px;
  text-align:center;
}
