/*Headeri*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  height: 30px;
}

.logo {
  font-size: 30px;
  
  color: rgb(52, 51, 51);
}


.nav a {
  position: relative;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: none;
  color: #555;
  padding-bottom: 4px;
}

.nav a:hover {
  color: #0F5F5C;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #f05b5b;
  transition: width 0.2s ease;
}

.nav a.active {
  color:  #0F5F5C;
}

.nav a:hover::after,
.nav a.active::after {
  width: 100%;
}



/*ni row i librav*/
/* ===== Titles ===== */

.section-title {
  font-size: 30px;
  color: #008060;
  margin-bottom: 3px;
}

.title-link {
  text-decoration: none;
  color: #008060;
  font-weight: 700;
}

.title-link:hover {
  text-decoration: underline;
}

.section-subtitle {
  font-size: 17px;
  color: #444;
  margin-bottom: 15px;
}

/* ===== Books Row ===== */

.books-wrapper {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 10px;
}

.books-row {
  display: flex;
  gap: 25px;
}

.book-card {
  width: 160px;
  flex-shrink: 0;
  text-align: left;
}

.book-card img {
  width: 160px;
  height: 230px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

/* ===== Book Text ===== */

.book-title {
  display: block;
  margin-top: 8px;
  font-size: 17px;
  font-weight: 700;
  color: #008060;
  text-decoration: none;
}

.book-title:hover {
  text-decoration: underline;
}






/* ===== Librat si filmat (versioni 1) ===== */

.books-wrapper1 {
  width: 100%;
  padding: 10px 0;
}

/* Grid me rreshta si te filmat */
.books-row1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 28px;
}

/* Kartela e librit */
.book-card1 {
  text-align: left;
}

.book-card1 img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

/* Teksti nEn foton e librit */
.book-title1 {
  font-size: 17px;
  font-weight: 700;
  margin-top: 6px;
  color: #ffffff;      
  text-decoration: none;
  display: block;
}

.author1 {
  color: #d0d0d0;
  font-size: 14px;
  margin-top: 3px;
}

.genre1 {
  color: #8dcfff;
  font-size: 14px;
  margin-top: 1px;
}




/*FOOTERI*/

.footer {
  background-color: #f4f4f4;
  padding: 40px 0;
  font-size: 14px;
  color: #666;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.footer .footer-container .about{
  width: 55%;
}
.footer h3 {
  margin-top: 0;
  color:#555555;
  font-size: 18px;
}

.footer .about p {
  margin-top: 8px;
  line-height: 1.6;
}

.footer .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .links li {
  margin-bottom: 6px;
}

.footer .links a {
  text-decoration: none;
  color: #555;
}

.footer .links a:hover {
  color:  #57731e;
}


