* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f6eedd;
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.left {
  flex: 1;
  background: #0f4434;
  color: white;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.color-dots {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.dot {
  width: 26px;
  height: 26px;
  border-radius: 5px;
  display: inline-block;
}

.red { background: #c0392b; }
.green { background: #27ae60; }
.yellow { background: #f1c40f; }

.left h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  margin-bottom: 20px;
}

.intro {
  max-width: 400px;
  line-height: 1.6;
  margin-bottom: 40px;
  font-size: 16px;
}

.quote-box {
  background: #f3d7a6;
  color: #333;
  padding: 20px;
  border-radius: 12px;
  max-width: 390px;
  font-size: 15px;
}

.author {
  margin-top: 10px;
  font-size: 14px;
}

/* RIGHT SIDE */
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 40px;
  width: 380px;
  border-radius: 28px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* SWITCH BUTTONS */
.switch-buttons {
  display: flex;
  background: #f6eedd;
  padding: 4px;
  border-radius: 50px;
  margin-bottom: 25px;
}

.switch {
  flex: 1;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  font-weight: 600;
  color: #6e573e;
  border-radius: 40px;
}

.switch.active {
  background: #0f4434;
  color: white;
}
/* FORM */
h2 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 25px;
  font-size: 26px;
  color: #0f4434;
}

form label {
  margin: 10px 0 5px;
  font-size: 14px;
}

form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #dccdb8;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 14px;
}

.forgot {
  text-align: right;
  margin-bottom: 20px;
}

.forgot a {
  color: #0f4434;
  font-size: 13px;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 14px;
  background: #0f4434;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
}

.login-btn:hover {
  background: #0c3627;
}